<h1>All words</h1>
<div class="half container">
<%= form_tag words_path, :method => 'get' do %>
	Go to page:
	<%= text_field_tag(:page) %>
	<%= submit_tag("Submit") %>
<% end %>
<%= form_tag find_words_path, :method => 'get' do %>
	Find by Kanji/Kana:
	<%= text_field_tag(:keys) %>
	<%= submit_tag("Submit") %>
<% end %>
<%= form_tag find_in_def_words_path, :method => 'get' do %>
	Find by definition text:
	<%= text_field_tag(:text) %>
	<%= submit_tag("Submit") %>
<% end %>
</div>
<div class="half container">
	<form name="SwitchButton" action=""> 
	  <input id="test" value="IME On/Off" onclick="ImeChangeMode()"
	  name="button" type="button"> 
	</form> 
	<div class="three-fourths">
	<p>Ajax IME: <a href="http://ajaxime.chasen.org/" target="_blank">http://ajaxime.chasen.org/</a></p>
	<p>Click to toggle or press Alt-o or CTRL-9</p> 
	<p>Press space after typing to see options.</p>
	<p>Thanks to Taku Kudo for making this available!</p>
	</div>
</div>
<%= will_paginate %>
<div class="wider container">
<ul>
  <%= render @words %>
</ul>
</div>

<%= will_paginate %>
